.container{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(76, 169, 201);
}
.container label{
    color: white;
}
.form-container{
    padding: 50px;
}